* {
    border: none;
    border-radius: 2px;
    font-family: CaskaydiaCove Nerd Font, sans-serif;
    font-size: 14px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
    background-color: rgba(0, 255, 225, 0.5);
    margin: 0 1px;
}


#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#workspaces button.active {
    background-color: rgba(194, 30, 86, 0.8);
}

#clock,
#battery,
#pulseaudio,
#network,
#power-profiles-daemon {
    padding: 0 10px;
    margin: 0 1px;
}

#clock {
    background-color: #64727D;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    color: black;
    background-color: white;
}

#pulseaudio {
    background: rgba(0, 122, 255, 0.5);
}

#power-profiles-daemon.performance {
    background-color: rgba(255, 30, 40, 0.6);
}

#power-profiles-daemon.balanced {
    color: black;
    background-color: rgba(255, 253, 100, 1);
}

#power-profiles-daemon.power-saver {
    background-color: rgba(10, 225, 30, 0.6);
}
