* {
    border: none;
    border-radius: 2px;
    font-family:  "CaskaydiaCove Nerd Font", sans-serif;
    font-size: 14px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: rgba(30, 30, 46, 0.5);
    border-bottom: 3px solid rgba(108, 112, 134, 0.5);
    color: #eff1f5;
}

tooltip {
    background: rgba(24, 24, 37, 0.5);
    border: 1px solid rgba(108, 112, 134, 0.5);
}

tooltip label {
    color: #eff1f5;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #eff1f5;
    border-bottom: 3px solid transparent;
    background-color: #7287fd;
    margin: 0 1px;
}

#workspaces button.active {
    background-color: #e64553;
}
 
#clock:hover,
#wireplumber:hover,
#power-profiles-daemon:hover,
#idle_inhibitor:hover
{
    opacity: 0.6;
}

#clock,
#battery,
#wireplumber,
#network,
#power-profiles-daemon,
#idle_inhibitor {
    padding: 0 10px;
    margin: 0 1px;
}

#clock {
    background-color: #303446;
}

#battery {
    background-color: #eff1f5;
    color: #11111b;
}

#battery.charging {
    color: #eff1f5;
    background-color: #40a02b;
}

@keyframes blink {
    to {
        background-color: #eff1f5;
        color: #11111b;
    }
}

#battery.warning:not(.charging) {
    background: #d20f39;
    color: #eff1f5;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    color: #11111b;
    background-color: #eff1f5;
}

#wireplumber {
    background: #04a5e5;
}

#wireplumber.muted {
    background-color: #f38ba8; /* A reddish color for muted */
    color: #11111b;
}

#power-profiles-daemon.performance {
    background-color: #d20f39;
}

#power-profiles-daemon.balanced {
    color: #11111b;
    background-color: #e5c890;
}

#power-profiles-daemon.power-saver {
    color: #11111b;
    background-color: #81c8be;
}

#idle_inhibitor {
    color: #11111b;
}

#idle_inhibitor.activated {
    background-color: #cba6f7;
}

#idle_inhibitor.deactivated {
    background-color: #a6da95;
}
